@media only screen and (min-width: 970px) {
.circle {    
  background: url("../../../assets/img/circle.png") no-repeat;
  /* background-size: '100%'; */
  /* float: center; */
  background-color: #A51E26;
  background-repeat: no-repeat;
  background-size: 100% 100%;
    /* height: 50px;
    width: 30px; */
}
}
@media only screen and (max-width: 970px) {
  .circle {
    background-color: white;
  }
}