@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 245, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slide-container {
  width: 100%;
  margin: auto;
}

.menuxxx {
  padding: 0 !important;
}

.container.relative {
  overflow-y: auto;
}

.menuxxx .modal-dialog,
.modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 !important;
  max-width: none;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.projectName{
  word-wrap: break-word;
  
}
.project-name{
  font-style: italic;
}
.projectName > h4{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   font-style: italic;
}
.italic{
  font-style: italic;
}
h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}
.text-line-limit{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/* @media (max-width: 700px) { */
  .app {
    grid-template-columns: unset;
  }
/* } */
/* .container {
  height: 500px;
  background: #ddd;
} */
.relative {
  overflow-y: auto;
} 
.image-show{
  width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: block;
}

.image-side{
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  height: 100%;
  display: block;
  max-height: 330px;
  max-width: 330px;
}

.image-profile{
  width: 80%;
  /* margin-bottom: 15px;
  margin-left: 10px; */

}
.side-col > div{
  margin-bottom: 20px;
}
.side-col-profile{
  /* margin-top: 50px; */
  height: 80%;
  /* overflow-y: scroll; */
}
.side-col-profile > div{
  margin-bottom: 20px;
}
.side-header{
  margin-bottom: 10px;
}

.side-profile-header{
  margin-bottom: 10px;
  text-align: center;
}
.side-profile > .text-b{
  color: #000000;
}

.content-section > div{
  padding-top: 50px;
  background-color: white;
}

div .border-text{
  border: 1px solid#99A3A4 ;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* height: 200px; */
}
.no-margin{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.container{
  /* padding: 0px !important; */
}
.rootPage{
  margin: -10px -20px -20px 0px !important;
}
div .border-text h1{
  text-align: center;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

div .border-text h1 span{
  background-color: white;
}

.profile-sub-title{
  color: #A51E25;
  line-height: 0;
}
.sub-bottom{
  margin-top: 20px;
}
.full-button{
  width: 100%;
  border-radius: 15px;
}
.theme-red{
  color: #A51E25;
}
.text-center {
  text-align: center;
}
.project-that-you-may-like{
    border: 1px solid #192F58;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    height: 100%;
    margin-top: 10px;

}
.youtube iframe{
  width: 100%;
}
.image-side-that-you-may-like{
  /* height: 75px; */
  width: 100%;
 
}
.none-a{
  /* border: 1px solid; */
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* margin-right: 5px; */
  height: 100%;
  margin-top: 10px;
  /* width: 95%; */
}
.none2-a{
  /* border: 1px solid; */
  padding: 5px;
  /* border-radius: 5px; */
  /* margin-right: 5px; */
  height: 100%;
  margin-top: 10px;
  width: 95%;
}

.none-a a , .none2-a a {
  text-decoration: none !important;
  color: black;
 
}
.nopadding{
  padding: 0px;
}
.renderRecommended > .row{
    /* padding-right: 30px; */
    padding-left: 30px;
    padding-bottom: 50px;
    max-height: 200px;
}
.image-gallery-slide-wrapper{
  /* height: 280px; */
}

.may-like{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}
.modal-content{
  background-color: #E8DDC9 !important;
  width: 80%;
}
.modal-title{
  width: 100%;
}.modal-dialog{
  max-width: 800px !important;
}.postcardImg{width: 100%;}
.side-menu{
  height: 100%;
}
.side-sub-menu{
  margin: 40% 0 0 0;
  text-align: center;
  
}

.side-sub-menu p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fb{
  background-color: #3D62AB !important;
}
.save-Image-p:hover{
  cursor: pointer;
  text-decoration: underline;
}.download-icon{
  width: 15%;
  margin-right: 5px;
}

.sub-bottom > h6 > a{
text-decoration: none;
color:#192F58 !important ;
}

.sub-bottom > h6 > a :hover{
  /* text-decoration: none; */
  color:#192F58 ;
  
  }
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg{
  width: 20px !important;
}

.image-gallery-fullscreen-button .image-gallery-svg{
  height: 20px;
    width: 20px;
}

.modal-dialog{
  top: 20%;
}
.image-side{
  /* margin-left: 10%; */
}
@media(min-width:1200px){
  .profile{
    max-width: 285px;
    position: fixed;
    z-index: 999;
  }
  .red-line{
    border-right:#A51E25 solid 5px ;
    margin-right: -10px;
  }
}

@media(max-width:991px){
  .profile{
    max-width: 100%;
    position: relative;
  }
}
@media(max-width:1199px) and (min-width:992px){
  .hiddenBox{
    display: none;
  }
  .red-line{
    border-right:#A51E25 solid 5px ;
    margin-right: -13px;
  }
}
