@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 245, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image-gallery-content .image-gallery-slide .image-gallery-image{
  max-height: none !important;
  height: 300px !important;
  border-radius: 10px;
}
.CatagoryText{
  text-align: center;
  position: absolute;
  width: 100%;
  /* top: 0; */
  /* left: 50%; */
  bottom: 0;
  font-size: 700%;
  font-weight: bold;
  color: #FFFFFF;
  opacity: 0.7;
  
}
.card-deck > .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-deck > .card {
  /* display: inline-block; */
  height: 300px;
  /* width: 300px; */
  /* margin: 5px; */
  background: lightgray;
  /* padding: 0px!important; */
  /* border-radius: 10px; */
}
.card-wrapper{
  padding: 0px 10px 0px 10px;
}
.catagoryName{
  padding-top: 50px;
  /* padding-right: 50px; */
  /* background-color: #E5E5E5 !important; */
}
.category-wrapper{
  margin-top: 30px;
  /* padding-top: 30px; */
}
.subcategory-wrapper{
  padding-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  /* margin-top: 30px; */
  /* margin: 0px; */
}
.sub-c{
  text-align: center;
}
.sub-category{
  border: none;
}
.element {
  
  
}
.bg-cl{
  background-color: #F9F7F1 !important;
}
.sub-category{
  background-color: transparent !important;
}

.sub-category > .card-body > a > img{
  width: 70%;
}

.sub-category > .card-body > a{
  /* width: 100%; */
  color: #192F58 ;
}

.sub-category > .card-body{
  padding: 0px !important;
 
}

.sub-category-title{
  width: 100%;
  top: 0;
  right: 0;
  text-align: center;
  height: 100%;
  position: absolute;
  padding: 17% 15% 17% 40%;
  vertical-align: middle;
  /* font-size: 1.5em; */
  /* margin: auto; */
  /* display: inline-block;*/
  line-height: 1;
}

@media(min-width:1200px){
  .sub-category-title{
    font-size: 1.2em;
    line-height: 1;

  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sub-category-title{
    padding: 17% 10% 19% 40%;
    /* font-size: em; */
  }
}

@media (max-width: 767px) {
  .sub-category-title{
    padding: 14% 10% 19% 40%;
    font-size: 0.7em;

  }
}

@media (max-width: 457px) {
  .sub-category-title{
    font-size: 0.5em;

  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .sub-category-title{
    padding: 16% 10% 20% 40%;
    font-size: 0.7em;
   
  }
}


@media (max-width: 575px) {
  .sub-category-title{
    padding: 12% 10% 15% 40%;
    font-size: 0.9em;

  }
  .card-deck > .card{
    width: 45%;
    margin: 2.5%;
   

  }
  
  .card-deck{
    flex-wrap: wrap;
    flex-direction: unset;
  }
}

@media (max-width: 425px) {
  .sub-category-title{
    padding: 12% 10% 15% 40%;
    font-size: 0.7em;

  }
 
  
  
}

/* @media (max-width: 375px) {
  .sub-category-title{
    padding: 10% 10% 15% 40%;
    font-size: 0.7em;

  }
} */

@media (max-width: 320px) {
  .sub-category-title{
    padding: 12% 10% 15% 40%;
    font-size: 0.5em;
    

  }
}
.test{
  padding: 20px;
}