@import "~react-image-gallery/styles/css/image-gallery.css";

.slide-container {
  width: 100%;
  margin: auto;
}

.menuxxx {
  padding: 0 !important;
}

.container.relative {
  overflow-y: auto;
}

.menuxxx .modal-dialog,
.modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 !important;
  max-width: none;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/* @media (max-width: 700px) { */
  .app {
    grid-template-columns: unset;
  }
/* } */
/* .container {
  height: 500px;
  background: #ddd;
} */
.relative {
  overflow-y: auto;
} 
/* html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  font-size: 16px;
  line-height: 1rem;
}
h1 {
  line-height: 2rem;
  display: inline-block;
}
h2 {
  line-height: 1.5rem;
  display: inline-block;
}
.app {
  display: grid;
  grid-template-columns: 20% 80%;
}

.navbar {
  padding: .5rem;
}
.navbar .nav-link {
  padding: .5rem;
}
.header {
  height: 80px;
  overflow: auto;
  background: #aaa;
}
.container {
  height: 500px;
  background: #ddd;
}
.gap {
  height: 500px;
}
.gap.short {
  height: 250px;
}
.gap.tall {
  height: 1000px;
}
.container.relative {
  overflow-y: auto;
} */