@import "~react-image-gallery/styles/css/image-gallery.css";

.slide-container {
  width: 100%;
  margin: auto;
}

.menuxxx {
  padding: 0 !important;
}

.container.relative {
  overflow-y: auto;
}

.menuxxx .modal-dialog,
.modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 !important;
  max-width: none;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/* @media (max-width: 700px) { */
  .app {
    grid-template-columns: unset;
  }
/* } */
/* .container {
  height: 500px;
  background: #ddd;
} */
.relative {
  overflow-y: auto;
} 
.image-show{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-side{
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
}

.image-profile{
  width: 80%;
  /* margin-bottom: 15px;
  margin-left: 10px; */

}
.side-col > div{
  margin-bottom: 20px;
}
.side-col-profile{
  margin-top: 50px;
}
.side-col-profile > div{
  margin-bottom: 20px;
}
.side-header{
  margin-bottom: 10px;
}

.side-profile-header{
  margin-bottom: 10px;
  text-align: center;
}

.content-section > div{
  margin-top: 10px;
}

div .border-text{
  border: 1px solid#99A3A4 ;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* height: 200px; */
}

div .border-text h1{
  text-align: center;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

div .border-text h1 span{
  background-color: white;
}