@import "~react-image-gallery/styles/css/image-gallery.css";

.wrapper {
  display: inline-block;
  height: 200px;
  /* width: 300px; */
  margin: 0px;
  /* background: lightgray; */
  /* padding: 0px!important; */
  border-radius: 10px;
}
.image-gallery-content{
  border-radius: 10px;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none !important;
  height: 150px !important;
  border-radius: 10px;
  object-fit: cover;
  width:100%!important;
}
.image-gallery-image{
  overflow:auto;
}
.image-gallery-image>img{
  height:150px!important;
}
.youtube{
  width:100%;
  height: 200px;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
}



@media only screen and (min-width: 992px) {
  .imagefoot {
    margin-top: -100px !important
  }

  .contentconcept {
    font-size: 1.3rem !important;
    margin: 30px !important;

  }

  .contenttext {
    font-size: 1rem !important;
    margin: 30px !important;
  }
  .mainYT>div{
    height:450px;
  }
  .map {
    height: 90vh;
  }
  .ourconcept-mobile{
    display:none;
  }
}

@media only screen and (max-width: 992px) {
  .imagefoot {
    margin-top: -100px !important
  }
  .ourconcept-mobile{
    display:none;
  }
  .contentconcept {
    font-size: 1rem !important;
    margin: 20px !important;

  }

  .contenttext {
    font-size: 0.75rem !important;
    margin: 20px !important;
  }
  .mainYT>div{
    height:250px;
  }
  .mainYT{
    margin-bottom:30px;
  }
  .sustainableIcon {
    display: none;
  }
  .map {
    height: 70vh;
  }

}


@media only screen and (max-width: 766px) {
  .imagefoot {
    margin-top: 0px !important;
    min-width: 450px
  }
  .ourconcept-web{
    display:none;
  }
  .ourconcept-mobile{
    display:block;
    
  }
  .contentconcept {
    font-size: 0.5rem !important;
    margin: 20px !important;

  }

  .contenttext {
    font-size: 0.5rem !important;
    margin: 20px !important;

  }

  .card-img-top {
    height: 100px !important;
  }

  .yt4 {
    display: none !important;
  }

  .lastestcss {
    font-size: 26px !important
  }

  .map {
    height: 70vh;
  }
}

@media only screen and (max-width: 576px) {
  .imagefoot {
    margin-top: 0px !important;
    min-width: 300px
  }

  .contentconcept {
    font-size: 0.25rem !important;
    margin: 10px !important;

  }

  .contenttext {
    font-size: 0.25rem !important;
    margin: 10px !important;
  }

  .card-img-top {
    height: auto !important;
  }
  .map {
    height: 50vh;
  }
}

/* 
.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
/* } */
/* 
.slide-container {
  width: 100%;
  margin: auto;
}

.menuxxx {
  padding: 0 !important;
}

.container.relative {
  overflow-y: auto;
}

.menuxxx .modal-dialog,
.modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 !important;
  max-width: none;
}

.image-gallery img {
  width: auto!important;
  height: 150px;
  object-fit: cover;
  
}


h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.app {
  grid-template-columns: unset;
}

.relative {
  overflow-y: auto;
}
 */
/*  


@media(min-width:1200px) {
  .sub-category-title {
    font-size: 1.5em;

  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sub-category-title {
    padding: 17% 10% 19% 40%;
    /* font-size: em; */
/* }
}

@media (max-width: 767px) {
  .sub-category-title {
    padding: 23% 10% 19% 40%;
    font-size: 0.7em;

  }
}

@media (max-width: 457px) {
  .sub-category-title {
    font-size: 0.5em;

  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .sub-category-title {
    padding: 20% 10% 20% 40%;
    font-size: 0.7em;

  }
}


@media (max-width: 575px) {
  .sub-category-title {
    padding: 12% 10% 15% 40%;
    font-size: 0.6em;

  }

  .card-deck>.card {
    width: 45%;
    margin: 2.5%;


  }

  .sub-category>.card-body {
    padding: 0px !important;
  }

  .card-deck {
    flex-wrap: wrap;
    flex-direction: unset;
  }
} */