
p::first-letter {
  font-weight: bold;
  font-size: 50px ;
  color: white;
}
.youtube{
  width:100%;
  height: 200px;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
}
.video-content{
  /* margin-top: 20px; */
}
.youtube-title{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}